<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KioskPayment.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <KioskPayment.My.MySettings>
            <setting name="KioskPayment_FileService_EquipmentFileService"
                serializeAs="String">
                <value>http://akkarawatp/webtms/EquipmentFileService.asmx</value>
            </setting>
        </KioskPayment.My.MySettings>
    </applicationSettings>
</configuration>